<header>
    <img src="{{ asset('img/logo.svg') }}" alt="Bucket List" width="40">
    {% include 'menu/nav.html.twig' %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</header>