{% extends 'base.html.twig' %}

{% block title %}
    About Us !
{% endblock %}

{% block body %}
    <h2>About Us !</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Dignissimos fuga hic inventore quisquam rem!
        A accusamus aliquam aspernatur atque doloremque ducimus earum,
        illum, maxime mollitia nam odit quidem quo, similique sit tempore!
        Beatae doloremque dolores labore rem. Amet deserunt doloribus error,
        iusto nisi odio quae quia quibusdam vitae. Adipisci amet assumenda
        distinctio laudantium neque nesciunt nobis quam sequi sit voluptate!
        Magnam, omnis possimus quas qui similique ut velit voluptate!
        Accusamus at atque blanditiis consequuntur debitis deleniti,
        doloremque doloribus eaque harum in inventore iure iusto labore
        laboriosam laborum natus nobis numquam odit porro quas qui saepe
        soluta tempora, tenetur velit voluptates?
    </p>
{% endblock %}

