<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bucket List !{% endblock %}</title>
        <link rel="icon" href="{{ asset("img/favicon.png") }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        {% include 'header/header.html.twig' %}

        <main>
            {% block body %}{% endblock %}
        </main>

        {% include 'footer/footer.html.twig' %}
    </body>
</html>